/* Main CSS file */

/*(@import '_example/_example.css';*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif !important;
}


.container {
    min-height: 70vh; /* height of the browser viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }


.TaskList{
    overflow: auto;
max-height: 100vh;
}
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.Taskinputs{
  margin: 0;
  padding: 0;
}